<!-- Head -->
<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Control de usuarios</title>

    </head>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
        <link rel="stylesheet" href="/css/userList.css">
            <main>

                <section>
                    <h2>
                        Lista de usuarios
                    </h2>
                    <ul class="users">
                        <% for(i=0;i < users.length; i++) {%>
                            <article class="users" id="user<%=i+1%>">
                                <li class="userName">
                                    <%= users[i].name %>
                                </li>
                                <li class="userEmail">
                                    <%= users[i].email %>
                                </li>
                                <li class="userAvatar">
                                    <img src="/images/users/<%= users[i].avatar %>">
                                </li>
                                <% if(users[i].role) {%>
                                    <li class="userRole">
                                        <%= users[i].role.name %>
                                    </li>
                                    <% } %>      
                                <div class="userOptions">
                                    <form action="/users/delete/<%=users[i].id%>" method="GET">
                                        <button>Borrar usuario</button>
                                    </form>
                                    <form action="/users/userList/<%=users[i].id%>" method="GET">
                                        <button>Modificar usuario</button>
                                    </form>
                                    
                                </div>                          
                            </article>
                            
                            <% } %>


                    </ul>

                </section>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>