
        <!-- Head -->
        <%- include('../partials/head') %> 
    
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/products.css">
    <title>Lista de productos</title>

</head>

<body>
    <!-- Header -->
    <%- include('../partials/header') %> 

    <main>
        <div class="agregar"><a href="/products/create">Agregar producto</a></div>
        
        <h2>Productos escolares</h2>
        <section id="schoolSupplies">
            
            <% for(let i = 0; i < products.length; i++) {%>
                
            <article>
                <h4><%= products[i].title %></h4>
                <a href="/products/<%= products[i].id %> "><img src="./images/products/<%= products[i].img %>"></a>
                <h4>$<%= products[i].price %></h4>
            </article>

            <% } %> 
        </section>

        </main>

    <!-- Footer -->
    <%- include('../partials/footer') %> 