
        <!-- Head -->
        <%- include('../partials/head') %> 
    
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Lista de productos</title>

</head>

<body>
    <!-- Header -->
    <%- include('../partials/header') %> 

    <main>
       
        <section class="schoolSupplies">
            <h2>Productos escolares</h2>
            <% for(let i = 0; i < productsList.length; i++) {%> 
            <article>
                <h4><%= productsList[i].producto %></h4>
                <img src="./images/products/<%= productsList[i].img1 %>">
            </article>
            <% } %> 
        </section>

    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %> 