<!-- Head -->
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/products.css">
    <title>Lista de productos</title>
    </head>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
            <main>

                <% if(userLogged && userLogged.roles_id == 1) { %>
                    <div class="agregar"><a href="/products/create">Agregar producto</a></div>
                <% } %>
                
                <% for(let i=0; i < categories.length;i++) {%>
                    <section class="schoolSupplies category" id="<%= categories[i].name %>">
                        <h2>
                            <%= categories[i].name %>
                        </h2>
                        <% for(let j=0; j < products.length; j++) {%>
                            <% if(products[j].products_categories_id == categories[i].id) {%>
                                <article>
                                    <h4>
                                        <%= products[j].title %>
                                    </h4>
                                    <a href="/products/<%= products[j].id %> "><img
                                            src="./images/products/<%= products[j].img %>"></a>
                                    <h4>$<%= products[j].price %>
                                    </h4>
                                </article>
                                <% }%>
                                    <% } %>
                    </section>
                    <% } %>

            </main>
            <!-- Footer -->
            <%- include('../partials/footer') %>