<!-- Head -->
<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/productAddEdit.css">
    <title>Editar producto</title>
    </head>di

    <body>

        <!-- Header -->
        <%- include('../partials/header') %>

            <main>
                <div class="signupFrm">
                    <form action="/products/<%= product.id %>/edit?_method=PUT" method="POST" class="form">
                        <h1 class="title">Editar Producto</h1>

                        <div class="inputContainer">
                            <input type="text" class="input" placeholder="a" value="<%= product.title %>"
                                name="title" required>
                            <label for="title" class="label">Nombre del Producto</label>
                        </div>

            
                        <div class="inputContainer">
                            <input type="text" class="input" placeholder="a" value="<%= product.price %>"
                                name="price" required>
                            <label for="price" class="label">Precio</label>
                        </div>

                        <div class="inputContainer description">
                            <textarea class="input" placeholder="a"
                                name="description"><%= product.description %></textarea>
                            <label for="description" class="label">Descripción</label>
                        </div>
                        <div class="inputContainer categorias">
                            <label for="category" class="label" id="categorias">Seleccione Categorias</label>
                            <select name="category" id="category" class="form-input">
                                <option value="schoolSupplies" <%= product.category === 'schoolSupplies' ? 'selected'
                                    : null %>>Artículos escolares</option>
                                <option value="books" <%=product.category==='books' ? 'selected' : null %>>Libros
                                </option>
                            </select>
                        </div>

                        <div class="Contenedor">
                            <input type="submit" class="cuentasBtn" id="crear" value="Cambiar">
                    </form>
                    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <button class="cuentasBtn">Borrar</button>
                    </form>
                        </div>
                </div>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>