<!-- Head -->
<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/productAddEdit.css">
    <title>Agregar producto</title>
    </head>

    <body>

        <!-- Header -->
        <%- include('../partials/header') %>

            <main>
                <div class="signupFrm">
                    <form action="/products/create" method="POST" enctype="multipart/form-data" class="form">
                        <h1 class="title">Agregar Producto</h1>

                        <% if(locals.errors?.title) { %>
                            <strong><%= errors.title.msg %></strong>
                        <% } %>
                        <div class="inputContainer">
                            <input type="text" class="input" placeholder="a" name="title">
                            <label for="title" class="label">Nombre del Producto</label>
                        </div>
                        
                        <% if(locals.errors?.price) { %>
                            <strong><%= errors.price.msg %></strong>
                        <% } %>
                        <div class="inputContainer">
                            <input type="text" class="input" placeholder="a" name="price">
                            <label for="price" class="label">Precio</label>
                        </div>

                        <% if(locals.errors?.description) { %>
                            <strong><%= errors.description.msg %></strong>
                        <% } %>
                        <div class="inputContainer description">
                            <textarea class="input" placeholder="a" name="description"></textarea>
                            <label for="description" class="label">Descripción</label>
                        </div>
                        <div class="inputContainer categorias">
                            <label for="category" class="label" id="categorias">Seleccione Categorias</label>
                            <select name="category" id="category" class="form-input" required>
                                <option value="">Seleccione categorias</option>
                                <option value="1">Mochilas</option>
                                <option value="2">Cuadernos</option>
                                <option value="3">Cartucheras</option>
                                <option value="4">Lápices</option>
                                <option value="5">Lapiceras</option>
                            </select>
                        </div>
                        <section class="imgForm">
                            
                            <div class="img">
                                <input type="file" name="img">
                            </div>
                            <div class="Contenedor">
                                <input type="submit" class="cuentasBtn" id="crear" value="Agregar">
                            </div>
                        </section>
                    </form>
                </div>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
